body {
  background-color: #013243;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  color: #fff;
}
.remove-btn {
  float: right;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.container {
  margin: 60px auto;
  background: #fff;
  padding: 0;
  border-radius: 7px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
}
.settings-tray .no-gutters {
  padding: 0;
}
.settings-tray--right {
  float: right;
}
.settings-tray--right i {
  margin-top: 10px;
  font-size: 25px;
  color: grey;
  margin-left: 10px;
  transition: 0.3s;
}
.settings-tray--right i:hover {
  color: #013243;
  cursor: pointer;
}

.search-box {
  background: #fafafa;
  padding: 10px 13px;
}
.search-box .input-wrapper {
  border-radius: 40px;
}
.search-box .input-wrapper i {
  color: grey;
  margin-left: 7px;
  vertical-align: middle;
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;
}
input::placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}
input:focus {
  outline: none;
}

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}
.friend-drawer--grey {
  background: #eee;
}
.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}
.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}
.friend-drawer .text p {
  margin: 0;
}
.friend-drawer .time {
  color: grey;
}
.friend-drawer--onhover:hover {
  color: #fff;
  background: #013243;
  cursor: pointer;
}
/* .friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
  color: #fff !important;
} */

hr {
  margin: 5px auto;
  width: 60%;
}

.container {
  border: 1px solid #98ff98;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.containerFluid {
  background-color: #fff;

  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #98ff98;
  background-color: #eee;
}

.container::after {
  content: '';
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;

  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  /* align-items: center; */
  margin-top: 40px;
  bottom: 0;
}
.chat-box-tray input {
  margin: 0 10px;
  padding: 6px 2px;
}
.chat-box-tray i {
  color: grey;
  font-size: 25px;
  vertical-align: middle;
}
.chat-box-tray i:last-of-type {
  margin-left: 25px;
}
.break {
  display: none;
}

.message {
  margin: 15px 0 15px 15px;
}

.message .message-username {
  font-size: 11px;
  color: #013243;
  opacity: 0.9;
  margin-bottom: 6px;
}
.message .message-text {
  background: #013243;
  color: #fff;
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}
@media screen and (max-width: 760px) {
  .chatbox {
    font-size: small;
    font-weight: bold;
  }
  .search-box {
    display: none;
  }
  .friend-drawer {
    display: none;
  }
  .friend-drawer--grey {
    display: none;
  }
  .chat-box-tray {
    display: flex;
    align-items: baseline;
  }

  hr {
    display: none;
  }
  .friend {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  .container img.right {
    float: right;
    margin-left: 0;
    margin-right: 0;
  }
  .chat-box-tray input {
    /* margin-bottom: 10px; */

    vertical-align: baseline;
  }
  .chat-box-tray i {
    color: grey;
    font-size: 20px;
    margin-top: 10px;
  }
  .chat-box-tray {
    background: #eee;
    display: flex;
    align-items: baseline;
    padding: 5px 10px;
    /* align-items: center; */
    margin-top: 19px;
    bottom: 0;
  }

  .chat-box-tray input::placeholder {
    font-size: small;
  }
}

@media screen and (width: 1024px) {
  .break {
    display: block;
  }

  .col-md-3 {
    width: 50px;
  }
}
